

body {
    background-image: url("https://images.unsplash.com/photo-1522199710521-72d69614c702?q=80&w=1920");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

/* Form Box Style */
form {
    height: 600px;
    width: 800px;
    background: linear-gradient(45deg, #adb123cc, #17b7accc);
    border: 4px solid rgb(0, 255, 229);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.head {
    display: flex;
    justify-content: center;
    color: white;
    font-size: larger;
    margin-bottom: 20px;
}

.name {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    color: rgb(147, 14, 156);
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: rgb(147, 14, 156);
}

.dept {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    color: rgb(147, 14, 156);
}

.des {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: rgb(147, 14, 156);
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    padding: 10px;
    border: 3px solid green;
    border-radius: 25px;
    color: rgb(147, 14, 156);
    background: linear-gradient(45deg, #a332c1, #0cb9b9);
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}